@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
 @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
 /* body {
	 color: #5D5F63;
	 background: #293949;
	
} */

.sidebar::-webkit-scrollbar {
	width: 0; /* Oculta la barra de desplazamiento vertical */
	height: 0; /* Oculta la barra de desplazamiento horizontal */
  }
  

 .sidebar-toggle {
	 margin-left: -240px;
}
 .sidebar {
	position: fixed ;
    overflow-y: scroll;
	animation-name: aparecer;
	animation-duration: .7s;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	 width: 240px;
	 height: 100%;
	 background: rgb(29, 20, 80);
	 /* position: absolute; */
	 -webkit-transition: all .3s ease-in-out;
	 -moz-transition: all .3s ease-in-out;
	 -o-transition: all .3s ease-in-out;
	 -ms-transition: all .3s ease-in-out;
	 transition: all .3s ease-in-out;
	 z-index: 100;
}
 .sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
	 margin: -2px 0 0;
	 padding: 0;
}
 .sidebar #leftside-navigation ul li {
	 list-style-type: none;
	 border-bottom: 1px solid rgba(255,255,255,0.05);
}
 .sidebar #leftside-navigation ul li.active > a {
	 color: #ffffff;
}
 .sidebar #leftside-navigation ul li.active ul {
	 display: block;
}
 .sidebar #leftside-navigation ul li a {
	 color: #aeb2b7;
	 text-decoration: none;
	 display: block;
	 padding: 18px 0 18px 25px;
	 font-size: 12px;
	 outline: 0;
	 -webkit-transition: all 200ms ease-in;
	 -moz-transition: all 200ms ease-in;
	 -o-transition: all 200ms ease-in;
	 -ms-transition: all 200ms ease-in;
	 transition: all 200ms ease-in;
}
 .sidebar #leftside-navigation ul li a:hover {
	 color: #ffffff;
}

.menu-items-active > a {
	border-left: 1px solid #ffffff;
}

 .sidebar #leftside-navigation ul li a span {
	 display: inline-block;
}
 .sidebar #leftside-navigation ul li a i {
	 width: 20px;
}
 .sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
	 padding-top: 3px;
}

 .sidebar #leftside-navigation ul ul li {
	border-bottom: 1px solid #8888a917 !important;
	 background: #28116e;
	 margin-bottom: 0;
	 margin-left: 0;
	 margin-right: 0;
	 border-bottom: none;
}
 .sidebar #leftside-navigation ul ul li a {
	 font-size: 12px;
	 padding-top: 13px;
	 padding-bottom: 13px;
	 color: #aeb2b7;
}

.sub-menu:hover .anim{
	animation-name: mover;
	animation-duration: 1s;
}

@keyframes mover {
	0%{
		transform: rotate(20deg)
	}
	30%{
		transform: rotate(-20deg)
	}
	60%{
		transform: rotate(20deg)
	}
	100%{
		transform: rotate(-20deg)
	}
}

@keyframes aparecer {
	0%{
		transform: translateX(-500px)
	}
	100%{
		transform: translateX(0)
	}
}


@keyframes deslizamiento-open {
	0%{
		overflow: hidden;
		max-height: 0;
	}
	100%{
		overflow: hidden;
		max-height: 700px;
	}
}

@keyframes deslizamiento-close {
	0%{
		display: block;
		overflow: hidden;
		max-height: 100%;
	}
	98%{
		overflow: hidden;
		max-height: 0;
	}
	100%{
		display: none !important;
	}
}

.animation-slice{
	animation-name: deslizamiento-open ;
	animation-duration: 1.5s;
	transition: max-height 0.3s ease;
}

/* .submenu:not(.active) .animation-slice{
	animation-name: deslizamiento-close ;
	animation-duration: 1.5s;
	transition: max-height 0.3s ease;
}  */

.sidebar #leftside-navigation ul ul {
	display: none;
}

/* .sidebar #leftside-navigation ul .inactive ul {
	animation-name: deslizamiento-close ;
	animation-duration: 1.5s !important;
	transition: max-height 0.3s ease;
} */