.catalogo-div:hover > img{
    opacity: 0.4;
    cursor: pointer;
}

.catalogo-div > img{
    transition: 0.5s;
}

.catalogo-div{
    transition: .4s;
}

.responsive-contenedor-catalogo div > p{
    position: absolute;
    color: black;
    z-index: 999;
    display: none;
    transition: .4s;
    animation-name: animation-catalogo;
    animation-duration: 0.7s;
}

.responsive-contenedor-catalogo div:hover > p{
    position: absolute;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    color: black;
}

@keyframes animation-catalogo{

    from{
        transform: translateY(-100px) ;
        opacity: 0;
    }
    to{
        transform: translateY(0) ;
        opacity: 1;
    }
}