    .fondo{
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); 
        background-position: center;
        background-repeat: repeat;
        background-size: 7%;
        /* background-color: rgba(48, 17, 226, 0.048); */
    }

    @media all and (max-width: 440px) {
        .fondo{
            background-size: 30%;
        }
    }