.nav-categorias ul li:hover i{
    transform: rotate(90deg);
    transition: .4s;
}

.nav-categorias ul li:hover .dropdown-menu2{
    display: block;
}

.dropdown-menu2 {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
  }
  
   
  .dropdown-menu2 {
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
    position: fixed;
    width: 150px;
    height: 70px;
    animation-name: animacion;
    animation-duration: .3s;
    display: block;
    z-index: 4000466604;
  }

  .dropdown-item1 {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
    white-space: nowrap;
    clear: both;
    text-align: inherit;
    display: block;
    cursor: pointer;
  }
  .dropdown-item1:hover, 
  .dropdown-item1:focus {
    color: #fff;
    background-color: rgb(159, 163, 255);
  }


  @keyframes animacion{
    from{
      transform: translate3d(0, 10px, 0);
      opacity: 0;
    }
    to{
    transform: translate3d(0, 0px, 0);
      opacity: 1;
    }
  }


  .dropdown-menu2{
    display: none;
}