
.organic-cards-cont{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    margin: 0 3.5%;
    height: 500px;
    max-height: 500px;
    flex-wrap: wrap;
}


.lado-izquierdo-interes{
    font-family: "Poppins", sans-serif;
visibility: unset;
display: flex;
width: 410px;
height: 100%;
position: relative;}

.lado-derecho-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    width: calc(100% - 410px);
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    min-width: 350px;
}

.overlay-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    height: 100%;
    position: absolute;
    background: white;
    width: 0px;
}

.button-point-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    cursor: pointer;
    background: #ffba43;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0%, 0px);
    opacity: 1;
}

.title-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0%, 0px);
    opacity: 1;
}

.content-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card-cont-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.card-item-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    background: white;
    box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    gap: 10px;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0%, 0px);
    opacity: 1;
}

.left-item-card-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.left-item-card-interes > img{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    width: 120px;
    height: 120px;
}

.right-item-card-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.card-name-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.card-price-interes{
    font-family: "Poppins", sans-serif;
    visibility: unset;
    margin-top: 5px;
    color: #3bb77e;
    font-weight: bold;
    font-size: 22px;
}