
  .img-profile-table{
    display: block;
    max-width: 100%;
  }
  /* .responsive-wrapper {
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  } */
 
  .icon-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    border: 1px solid var(--c-gray-500);
    color: var(--c-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
    flex-shrink: 0;
  }
  .icon-button.large {
    width: 42px;
    height: 42px;
    font-size: 1.25em;
  }
  .icon-button i {
    transition: 0.25s ease;
  }
  .icon-button:hover, .icon-button:focus {
    background-color: var(--c-gray-600);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
  }

  
  .mobile-only {
    display: none;
  }
  @media (max-width: 1000px) {
    .mobile-only {
      display: inline-flex;
    }
  }


  .transfer-section {
    margin-top: 2.5rem;
  }
  .transfer-section-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-gray-600);
  }
  .transfer-section-header h2 {
    font-size: 1.5rem;
  }









  
  .filter-options {
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    border-left: 1px solid var(--c-gray-600);
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  .filter-options p {
    color: var(--c-text-tertiary);
    font-size: 0.875rem;
  }
  .filter-options p + * {
    margin-left: auto;
    margin-right: 0.75rem;
  }
  @media (max-width: 1000px) {
    .filter-options p {
      display: none;
    }
  }


  .transfers {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .transfer {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
  }
  @media (max-width: 1000px) {
    .transfer {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .transfer + * {
    margin-top: 2rem;
  }
  .transfer-logo {
    background-color: var(--c-gray-200);
    border-radius: 4px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .transfer-logo img {
    width: 45%;
  }
  .transfer-details {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  @media (max-width: 1000px) {
    .transfer-details {
      flex-wrap: wrap;
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  .transfer-details div {
    width: calc(100% / 3 - 1rem);
  }
  @media (max-width: 1000px) {
    .transfer-details div {
      width: 100%;
    }
  }
  .transfer-details div + div {
    margin-left: 1rem;
  }
  @media (max-width: 1000px) {
    .transfer-details div + div {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  .transfer-details dd {
    color: var(--c-text-tertiary);
    margin-top: 2px;
  }
  .transfer-number {
    margin-left: 2rem;
    font-size: 1.125rem;
    flex-shrink: 0;
    width: 15%;
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 1000px) {
    .transfer-number {
      margin-left: 0;
      margin-top: 1.25rem;
      width: 100%;
      justify-content: flex-start;
    }
  }
  

