/* //////////////////////////////////////////////carrito responsive//////////////////////////////////////// */

@media all and (max-width: 767px) {
    .responsive-carrito-div{
        max-width: 90% !important;
    }

    .responsive-carrito-contenedor{
        max-width: 90%;
        width: 90%;
        margin-left: 10%;
    }

    .responsive-carrito-p{
        font-size: 16px !important;
        padding: 5px;
    }

    .responsive-carrito-icon{
        font-size: 20px !important;
        padding: 5px;
    }

    .responsive-carrito-descripcion{
        display: none !important;
    }

}

/* /////////////////////////////////////////registro////////////////////////////////// */

@media all and (max-width: 440px) {
    .responsive-registro-contenedor{
        padding: 5%;
    }
}


/* /////////////////////////////////////CATALOGO///////////////////////////////////// */



@media all and (max-width: 1100px) {
    .responsive-contenedor-catalogo{
        grid-template-columns: 100% 0 !important;
    }

    .responsive-cont-catalogo{
        display: none;
    }
}


/* //////////////////////////////////////index ///////////////////////////////////////////////////////////// */
.icons-mp-responsive-index{
    display: none;
}

@media all and (max-width: 992px) {
    .icons-mp-responsive-index{
        display: block;
        
    }
    .icons-mp-desktop-index{
        display: none;
    }
}

@media all and (max-width: 530px) {
    .responsive-icons-mp{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* //////////////////////////////////////////     tienda    //////////////////////////////////////////////////////// / */


@media all and (max-width: 530px) {
    .main-tienda-responsive{
        margin-left: 0 !important;
       }
}

